* {
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', 'sans-serif';

    
    --color-green-400:  rgb(216, 249, 220);
    
    --color-green-100: rgb(3, 164, 164);
    --color-green-500: rgb(232, 249, 243);
    
  
    --color-primary-500-contrast: white;
  
    --color-error-100: rgb(255, 192, 180);
    --color-error-500: rgb(199, 51, 15);
  
    --color-blue-100: #0d7d87;
  
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
  
    --border-radius-small: 4px;
    --border-radius-medium: 6px;
  
    --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}


body {
    background-color: var(--color-green-500);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-green-100)
}

a {
    color: var(--color-green-400);
    text-decoration: none
}

.container{
    display: flex;
    align-items: center;
    width:70%;
    border-bottom: double 2px;
}

.header img{
    width: 80px;
    height: 100px;
    margin: 50px;
    /* border-radius: 50%;
    border: double 2px; */
}

.header--title{
    flex: 50%;
    margin-left: 20px;
    font-weight:lighter;
}

.header--project{
    flex: 20%;
    padding-right: 20px;
    font-style: italic;
    text-align: right;
}

.main{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.blog-items{
    width: 70%;
    align-items:center;
    
}

.post{
    justify-content: center;
    color:rgb(72, 84, 84);
    flex:50%
}

#date{
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

.text{
    display: none;
}
.btn{
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    background-color: var(--color-blue-100);
    color: var(--color-primary-500-contrast);
    border: 1px solid var(--color-primary-500);
    border-radius: var(--border-radius-small);
}

form {
    padding: 100px
}

.btn:hover,
.btn:active{
    background-color: var(--color-green-100);
    border-color: var(--color-primary-700);
}

footer {
    position:fixed;
    left: 15%;
    bottom: 0;
    width: 70%;
    min-height: 6%;
    background-color: var(--color-green-500);
    color: #485458;
    text-align: center;
    padding-top: 20px;
    width:70%;
    border-top: solid 1px;
  }

  @media (max-width: 48rem){
    .container{
        display:block;
    }
  }